@model MVC_Project.Models.Previous

@{
    ViewData["Title"] = "Previous";
}

<h2>Previous</h2>

<div>
    <h4>Previous</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            Open Price
        </dt>
        <dd>
            @Html.DisplayFor(model => model.open)
        </dd>
        <dt>
            Highest Price
        </dt>
        <dd>
            @Html.DisplayFor(model => model.high)
        </dd>
        <dt>
            Low Price
        </dt>
        <dd>
            @Html.DisplayFor(model => model.low)
        </dd>
        <dt>
            Closing Price
        </dt>
        <dd>
            @Html.DisplayFor(model => model.close)
        </dd>
        <dt>
            Volume
        </dt>
        <dd>
            @Html.DisplayFor(model => model.volume)
        </dd>
        <dt>
           Unadjusted Volume
        </dt>
        <dd>
            @Html.DisplayFor(model => model.unadjustedVolume)
        </dd>
        <dt>
            Change
        </dt>
        <dd>
            @Html.DisplayFor(model => model.change)
        </dd>
        <dt>
          Change Percent
        </dt>
        <dd>
            @Html.DisplayFor(model => model.changePercent)
        </dd>
        <dt>
           Volume WAP 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.vwap)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Symbols">Back to List</a>
</div>
